* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url(../img/5.Fondo/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    display: block;
    width: 95%;
    /* background-color: rgba(0, 0, 0, 0.555); */
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.canvasFrame{
    width: 85%;
    /* height: 600px; */
    background-color: rgb(255, 255, 250);
    border: black 1px solid;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvasImage{
    width: 95%;
    /* height: 480px; */
    border-radius: 16px;
}

.playAndResetButton{
    margin-top: 16px;
    margin-bottom: 16px;
    width: 150px;
    height: 40px;
    border-radius: 8px;
}

.infoblock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.directionImage{
    width: 70%;
    border-radius: 8px;
    margin:  1%;
}

.d-none{
    display: none;
}

.helpview{
    position: absolute;
    width: 97%;
    border-radius: 32px;
    /* z-index: 99; */
}

.startButton{
    display: none;
    position: absolute;
    top: 0;
    bottom: 100;
    left: 0;
    right: 0;
    /* display: flex; */
    justify-content: center;
}

.controlPanel{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 5px 20px;
}

.spaceBetween{
    display: none;
    justify-content: space-between;
}

.controlBtnFrame{
    margin: 16px 30px 5px 30px;
}

.controlBtnImg{
    height: 32px;
    z-index: 99;
}

#btnMoveLeft {
    z-index: 99;
}

@media (min-width: 940px) {
    .canvasFrame{
        width: 780px;
    }

    .helpview{
        position: absolute;
        width:880px;
    }
 }

 @media only screen and (max-width: 780px){
     canvas {
         width: 100%;
     }
 }

 @media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
    }
    h1{
        display: none;
    }
    .infoblock{
        display: none;
    }
    .canvasFrame{
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 250);
        border: black 1px solid;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .startButton{
        display: flex;
    }

    .spaceBetween{
        display: flex;
    }

    #youLostImage{
        z-index: 1;
    }
}